<html>
    <head>
        {{css}}
    </head>
    <body>

            {{ include header}}
<div class="container-assets container">
    <div class="ribbon-cont">
        <div class="row-fluid ribbon">
            {{include ribbon}}
        </div>
    </div>
    <div class="content-area-cont">
        <div class="row-fluid content-area">
            <div class="span3 publisher-left">
                {{include leftnav}}
            </div>
            <div class="span9 publisher-right">
                {{include body}}
            </div>
        </div>
       
    </div>
</div>
<div class="container-footer container">
    <div class="content-area-cont">
                {{include footer}}
 
     </div>
</div>
    </body>
</html>