<html>
    <head>
        <link href="{{publicDir "/css/bootstrap.min.css"}}" rel="stylesheet" media="screen">
        <link href="{{publicDir "/css/bootstrap-responsive.min.css"}}" rel="stylesheet">
        {{css}}
    </head>
    <body>

            {{ include header}}
<div class="container-assets container">
    <div class="ribbon-cont">
        <div class="row-fluid ribbon">
            {{include ribbon}}
        </div>
    </div>
    <div class="content-area-cont">
        <div class="row-fluid content-area">
            <div class="span3 publisher-left">
                {{include leftnav}}
            </div>
            <div class="span9 publisher-right">
                {{include body}}
            </div>
        </div>
       
    </div>
</div>
<div class="container-footer container">
    <div class="content-area-cont">
                {{include footer}}
 
     </div>
</div>

    <script src="{{publicDir "/js/jquery-1.10.2.min.js"}}" type="text/javascript"></script>
    <script src="{{publicDir "/js/bootstrap.min.js"}}" type="text/javascript"></script>
    </body>
</html>